flows-nodered.json
[{"id":"5fa8d496.c0c2ac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac276903.2ea848","type":"debug","z":"5fa8d496.c0c2ac","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":850,"y":400,"wires":[]},{"id":"1312af5e.271d21","type":"natural-language-understanding","z":"5fa8d496.c0c2ac","name":"","categories":true,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":420,"y":180,"wires":[["8dc30c66.5f683","ac276903.2ea848"]]},{"id":"8dc30c66.5f683","type":"function","z":"5fa8d496.c0c2ac","name":"","func":"\n\nvar recommendation = {\n  \"recommendation\": \"\",\n  \"entities\": []\n};\n\nvar features = msg.features;\nvar i = 0;\n\nif (features.sentiment.document.score <= 0) {\n    for (i = 0; i < features.entities.length; i++) {\n      if (features.entities[i].type == \"MODELO\") {\n        continue;\n      }\n      recommendation.entities.push(\n          {\n           \"entity\" : features.entities[i].type,   \n           \"sentiment\" : features.entities[i].sentiment.score,\n           \"mention\" : features.entities[i].text,           \n          });\n    }    \n    recommendation.recommendation = (msg.req.body.car.toUpperCase() == \"ARGO\" ? \"TORO\" : \"ARGO\");\n}\n\nmsg.payload = recommendation;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[["80c16e47.b9805","ac276903.2ea848"]]},{"id":"80c16e47.b9805","type":"http response","z":"5fa8d496.c0c2ac","name":"","statusCode":"","headers":{},"x":930,"y":200,"wires":[]},{"id":"ae66f236.f9541","type":"http in","z":"5fa8d496.c0c2ac","name":"","url":"/fiat","method":"post","upload":true,"swaggerDoc":"","x":100,"y":380,"wires":[["7bcfd15c.b851c"]]},{"id":"7bcfd15c.b851c","type":"switch","z":"5fa8d496.c0c2ac","name":"texto ou audio","property":"req.files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":460,"wires":[["a675fb79.b5e3f8"],["792bf315.37094c"]]},{"id":"a675fb79.b5e3f8","type":"function","z":"5fa8d496.c0c2ac","name":"Pega buffer","func":"\nmsg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":520,"wires":[["c5ff8831.4a26f8"]]},{"id":"c5ff8831.4a26f8","type":"watson-speech-to-text","z":"5fa8d496.c0c2ac","name":"audio para texto","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"JmVkgcJjQPbhxbRtXqX3D_fb5hOtB_eoQHVV70ElTcJR","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":140,"y":580,"wires":[["792bf315.37094c"]]},{"id":"792bf315.37094c","type":"function","z":"5fa8d496.c0c2ac","name":"","func":"msg.payload = (msg.req.body.text ? msg.req.body.text : msg.payload);\nmsg.nlu_options = {\"entity_model\":\"428a7ccc-5470-4762-ae3d-f8d91fdf78a1\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":200,"wires":[["1312af5e.271d21"]]}]